menu "Wifi config Menu"
    config SSID
        string "SSID"
        default "unknown"
        help 
            SSID.

    config PASSWORD
        string "PASSWORD"
        default "bat4glenmadung"
        help 
            PASSWORD

    config MAXIMUM_RETRY_CONNECT_WIFI
        int "MAXIMUM_RETRY_CONNECT_WIFI"
        default 10
        help    
            Maximum number of reconnections wifi
            
endmenu